.border-header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header__logo1 {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.header__logo2 {
  font-family: Oleo Script;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 93px;
}
.header__main-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav__link {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover {
  color: #2196f3;
}
.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.active {
  color: #2196f3;
}
.active::after {
  position: absolute;
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 77px;
  -webkit-animation: active-bar-grow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
          animation: active-bar-grow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
@-webkit-keyframes active-bar-grow {
  0% {
    width: 10px;
    opacity: 0;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}
@keyframes active-bar-grow {
  0% {
    width: 10px;
    opacity: 0;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contacts__phone-and-email {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__phone-and-email:hover {
  color: #2196f3;
}
.contacts__img {
  padding-right: 10px;
}
.contacts__item {
  margin-right: 50px;
}
.contacts__item:last-child {
  margin-right: 0;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.filter {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 94px;
}
@media screen and (min-width: 480px) {
  .filter {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    text-align: center;
  }
}
.filter__buttons {
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 8px 4px;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__buttons:hover, .filter__buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.sites-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 22px 0 0 0;
  width: 110%;
  padding: 0;
  padding-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sites-list__item {
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.1607843137), 0px 4px 4px 0px rgba(0, 0, 0, 0.0588235294), 0px 1px 1px 0px rgba(0, 0, 0, 0.1215686275);
}
.sites-list__img {
  max-width: 100%;
  height: auto;
}
.sites-list__main-text {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 20px 24px 0 24px;
}
.sites-list__link {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 24px;
}

.footer-section {
  background-color: #2f303a;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 60px 0;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer-list__item {
  margin-top: 10px;
}
.footer-list__logo1 {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.footer-list__logo2 {
  color: #000000;
  font-family: Oleo Script;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 93px;
}
.footer-list__main-item {
  margin: 0 93px 0 70px;
}
.footer-list__social-agitation {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-list__join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  gap: 10px;
}
.footer-list__social-agitation2 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-list__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-list__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: inherit;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.footer-list__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #1976d2;
}
.footer-list__button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.footer-list__tg {
  margin-left: 10px;
}

.span-logo-footer {
  color: #ffffff;
}

.footer-contacts {
  width: 231px;
  margin: 0;
  padding-top: 10px;
}

.geolocation {
  color: #ffffff;
}/*# sourceMappingURL=main.portfolio.css.map */