/*Important*/

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*Header*/

.border-header {
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: start;
}

.span-logo1 {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

.span-logo2 {
    color: #000000;
    font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 93px;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.site-nav {
    display: flex;
}

.site-nav-item,
.nav-contacts-item {
    margin-right: 50px;
}

.site-nav-item:last-child,
.nav-contacts-item:last-child {
    margin-right: 0;
}

.nav-links {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}


.nav-links:hover {
    color: #2196F3;
}

.active {
    color: #2196F3;
}

.nav-contacts {
    display: flex;
}

.phone-and-email {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.phone-and-email:hover {
    color: #2196F3;
}

.svg-email-and-phone {
    padding-right: 10px;
}

/*Main*/

.main {
    margin: 94px 215px;
}

.filter {
    text-align: center;
    padding: 94px 0 34px 0;
}

.main-buttons {
    color: #212121;
    background-color: #F5F4FA;
    border: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 4px;
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
}

.main-buttons:hover,
.main-buttons:focus {
    background-color: #2196F3;
    color: white;
}

.sites-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
    gap: 30px;
}

.sites-list-item {
    flex-basis: 30%;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 4px 6px 0px #00000029;
    box-shadow: 0px 4px 4px 0px #0000000F;
    box-shadow: 0px 1px 1px 0px #0000001F;
}

.portolio-img {
    max-width: 100%;
    height: auto;
}

.main-text {
    color: #212121;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    margin-left: 24px;
    margin: 20px 24px 0 24px;
}

.main-text-link {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 24px;
}

/*Footer*/

.footer-section {
    background-color: #2F303A;
    align-items: baseline;
    padding: 60px 0;
}

.footer-list {
    display: flex;
    padding: 0;
}

.footer-list-item {}

.span-logo-footer {
    color: #FFFFFF;
}

.footer-contacts {
    width: 231px;
    margin: 0;
    padding-top: 10px;
}

.footer-contacts-item {
    margin-top: 10px;
}

.geolocation {
    color: #FFFFFF;
}

.main-footer-item {
    margin: 0 93px 0 70px;
}

.social-agitation {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-join-list {
    display: flex;
    padding: 0;
    gap: 10px;

}

.footer-form {
    display: flex;
}

.social-agitation2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: inherit;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    padding-left: 16px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #2196F3;


    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}

.tg-icon {
    margin-left: 10px;
}