/* Normalize */

a,li{list-style-type:none}body,legend{padding:0}input,textarea{outline:0!important}body{margin:0;font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}a{text-decoration:none}progress,sub,sup{vertical-align:baseline}*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:ButtonText dotted 1px}:-moz-ui-invalid{box-shadow:none}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/*Important*/


.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Header */

.border-header {
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}



.header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: start;
}

.span-logo1 {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
}

.span-logo2 {
    color: #000000;
    font-family: Oleo Script;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 93px;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    animation: fadeIn 1s; 

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.site-nav {
    display: flex;
}

.site-nav-item,
.nav-contacts-item {
    margin-right: 50px;
}

.site-nav-item:last-child,
.nav-contacts-item:last-child {
    margin-right: 0;
}

.nav-links {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover {
    color: #2196F3;
}

.active {
    color: #2196F3;
}

.active::after {
    position: absolute;
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    top: 77px;
    animation: active-bar-grow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 1000ms;
}

@keyframes active-bar-grow {
    0% {
        width: 10px;
        opacity: 0;
    }

    100% {
        width: 48px;
        opacity: 1;
    }
}


.nav-contacts {
    display: flex;
}

.phone-and-email {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-and-email:hover {
    color: #2196F3;
}

.svg-email-and-phone {
    padding-right: 10px;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    width: 528px;
    padding: 15px;
    background: #FFFFFF;
    transform: translate(-50%, -50%);
}

.close-modal-img {
    float: right;
}

.modal-title {
    margin: 25px 40px 12px 40px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-form {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
}

.contact-form-item {
    position: relative;
}

.form-input-info {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #757575;
}

.modal-img {
    position: absolute;
    top: 40px;
    left: 10px;
}

.contact-form-input {
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #21212133;
    padding-left: 32px;
}

.contact-form-input:hover,
.contact-form-input:focus,
.comment:hover,
.comment:focus {
    border: 1px solid #1976D2;
}

.comment {
    resize: none;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #21212133;
    padding: 5px;
}

.modal-label {}

.modal-accept-rules {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

.modal-accept-rules-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: underline;
    color: #2196F3;
}

.modal-accept-rules-div {
    padding: 20px 0 30px 0;
}

.contact-form-button {}

/*MAIN 1st section*/

.hero {
    display: flex;
    text-align: center;
    background-image: url('photo/herobackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-with-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    text-align: center;
}


.main-text-for-site {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    margin: 0 0 30px 0;
    padding: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.order-button {
    color: #FFFFFF;
    background-color: #2196F3;
    text-shadow: 1px 1px 1px #2F303A;
    box-shadow: 0px 4px 4px #000000;
    border: none;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 10px 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
    transform: scale(1.10);
    background-color: #1976D2;
}

.order-button:active {
    transform: scale(0.90);
}

/*Main 2nd section*/

.main-text-ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.main-text {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.main-text-item {
    margin-left: 30px;
}

.main-text-answer {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
}

/*Main 3nd section*/

.work-section {
    padding-top: 0;
}

.section-title {
    color: #212121;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 50px 0;
}

.what-we-doing-list {
    display: flex;
    margin-left: -40px;
    justify-content: space-between;
}

.what-we-doing-list-item {
    position: relative;
}

.what-we-doing-img {
    width: 370px;
    height: 294px;
    display: flex;
}

.what-we-doing-list-h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 27px 5px;
    background-repeat: no-repeat;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 1);
    background: rgba(47, 48, 58, 0.8);
}

/*Main 4nd section */

.alt-bg {
    background-color: #F5F4FA;
}

.our-team-ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.our-team-li {
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.our-team-li:not(:first-child) {
    margin-left: 30px;
}

.photo-people {
    width: 270px;
    height: 260px;
}

.text-team {
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
}

.text-answer {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
}

.social-icon {
    margin-bottom: 30px;
}

/* 5 Section */

.our-clients-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/*Footer*/

.footer-section {
    background-color: #2F303A;
    align-items: baseline;
    padding: 60px 0;
}

.footer-list {
    display: flex;
    padding: 0;
}

.footer-list-item {}

.span-logo-footer {
    color: #FFFFFF;
}

.footer-contacts {
    width: 231px;
    margin: 0;
    padding-top: 10px;
}

.footer-contacts-item {
    margin-top: 10px;
}

.geolocation {
    color: #FFFFFF;
}

.main-footer-item {
    margin: 0 93px 0 70px;
}

.social-agitation {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-join-list {
    display: flex;
    padding: 0;
    gap: 10px;

}

.footer-form {
    display: flex;
}

.social-agitation2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #FFFFFF4D;
    background-color: inherit;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    padding-left: 16px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #2196F3;


    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
}

.tg-icon {
    margin-left: 10px;
}

/* Animations */