$header: #ececec;
$active-color: #2196f3;
$nav-link: #212121;
$contacts: #757575;
$white: #ffffff;
$button: #ffffff;
$shadow: #2f303a;
$alt-bg: #f5f4fa;
$site-list-color: #eeeeee;
$backdrop: #00000033;